html,h3,body,li,ul,a,p,span{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html,body{
    width: 100%;
}
.wrap{
    width: 100%;
}
header{
    height: 90px;
    width: 100%;
    border:1px solid #f8f8f8;
}
header .con{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .con .logo{
    display: flex;
    align-items: center;
}
header .con ul{
    display: flex;
    height: 90px;
    align-items: center;
}
header .con ul li{
    margin-left:40px;
}
header .con ul li a{
    font-size: 12px;
    color: #000000;
}
header .con ul li a:hover{
    color: #ff4001;
}
header .con .position{
    width: 250px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .con .position .icon{
    width: 20px;
    height: 20px;
    background: url(../img/icons.png) no-repeat -330px -210px;
    margin-left: 20px;
}
header .con .position span:nth-child(1){
    display: flex;
}
header .con .position span:nth-child(1) a{
    display: inline-block;
    width: 20px;
    height: 25px;
    background: url(../img/icons.png) no-repeat -290px -210px;
}
header .con .position span:nth-child(2){
    padding: 0 5px
}
header .con .position span:nth-child(2) a{
    font-size: 12px;
    color:#949494;
}
header .con .position span:nth-child(4){
    background-position: -369px -210px;
}
.wrap .nav{
    height: 105px;
}
.wrap .nav .con{
    width: 1200px;
    padding: 20px 16px;
    box-sizing: border-box;
    margin: 0 auto;
    font-size: 12px;
}
.wrap .nav .con ul{
    display: flex;
}
.wrap .nav .con ul:nth-child(1){
    margin-bottom: 24px;
}
.wrap .nav .con ul li:hover a{
    color: #ff4001;
}
.wrap .nav .con ul li{
    margin-right: 40px;
}
.wrap .nav .con ul li a{
    color: #3e3e3e;
}
.wrap .links{
    height: 1310px;
}
.wrap .links .con{
    width: 1200px;
    height: 1310px;
    margin: 0 auto;
    background: #f8f8f8;
    padding: 16px 20px;
    box-sizing:border-box;
}
.wrap .links .con ul{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    justify-content: space-between;
}
.wrap .links .con ul li{
    width: 24%;
    height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    box-sizing: border-box;
}
.wrap .links .con ul li .img{
    display: inline-block;
    width: 260px;
    height: 260px;
}
.wrap .links .con ul li a img{
    width: 100%;
    height: 100%;
}   
.wrap .links .con ul li span:nth-child(2){
    font-size: 12px;
    padding: 10px 0;
}
.wrap .links .con ul li span:nth-child(3){
    display: inline-block;
    font-size: 12px;
    height: 18px;
    padding: 0 5px;
    line-height: 18px;
    background: #cca976;
    color: #fff;
    margin-bottom: 8px;
    width: 145px;
}
.wrap .links .con ul li span:nth-child(4){
    font-size: 12px;
    color: #949494;
    margin-bottom: 15px;
}
.wrap .links .con ul li span:nth-child(5){
    font-size: 12px;
    margin-bottom: 12px;
}
.wrap .links .con ul li span:nth-child(6) a{
    font-size: 12px;
    color: #ff3500;
}
.wrap .footer{
    width: 100%;
    height: 210px; 
    padding: 20px 0 50px;
    box-sizing: border-box;
}
.wrap .footer .con{
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.wrap .footer .con .left ul{
    display: flex;
}
.wrap .footer .con .left ul li{
    padding: 0 20px;
}
.wrap .footer .con .left ul li:nth-child(1){
    padding-left: 0;
}
.wrap .footer .con .left ul li a{
    font-size: 14px;
    color: #3e3e3e;
}
.wrap .footer .con .left p{
    margin-top: 25px;
    font-size: 12px;
}
.wrap .footer .con .left p:nth-child(3){
    color: #949494;
}
.wrap .footer .con .left p:nth-child(3) a{
    color: #949494;
}
.wrap .footer .con .right{
    width: 108px;
}
.wrap .footer .con .right img{
    width: 108px;
    height: 105px;
    border:1px solid #999999;
}
.wrap .footer .con .right p{
    font-size: 12px;
    text-align: center;
}