
/* Chinese (Simplified)/Configuration/Inspectors/asp.net_textbox.htm */
.cls_aspnet_textbox_span_image {width:36px;height:36px;left: 5px;top: 9px}
.cls_aspnet_textbox_div_idBoxLayer {width:65px;height:38px;left: 44px;top: 9px}
.cls_aspnet_textbox_input_textboxID {width:65px}
.cls_aspnet_textbox_div_topLayer {width:450px;height:38px;left:125px;top:2px}
.cls_aspnet_textbox_input_text_1 {width:180px}
.cls_aspnet_textbox_input_tooltip {width:180px}
.cls_aspnet_textbox_div_bottomLayer {width: 480px;height: 38px;left:25px;top:55px}
.cls_aspnet_textbox_input_cols {width:30px}
.cls_aspnet_textbox_select_select {width:100px}
.cls_aspnet_textbox_input_maxLength {width:30px}
.cls_aspnet_textbox_input_rows {width:30px}
.cls_aspnet_textbox_input_tabix {width:30px}
.cls_aspnet_textbox_bottomLayer_Text1_td {white-space:nowrap;padding-right:0px}
.cls_aspnet_textbox_div_topLayer td {padding-bottom:4px}
.cls_aspnet_textbox_div_bottomLayer td {padding-bottom:4px}