
/* Chinese (Simplified)/Configuration/Inspectors/asp.net_button.htm */
.cls_aspnet_button_span_image {width:36px;height:36px;left:5px;top: 9px}
.cls_aspnet_button_div_idBoxLayer {width:65px;height:38px;left:44px;top: 9px}
.cls_aspnet_button_input_buttonID {width:65px}
.cls_aspnet_button_div_textLabelLayer {left:122px;top:2px}
.cls_aspnet_button_div_topLayer {width:400px;height:38px;left:125px;top:2px}
.cls_aspnet_button_input_textLabel {width:150px}
.cls_aspnet_button_input_border {width:30px}
.cls_aspnet_button_input_tooltip {width:80px}
.cls_aspnet_button_input_cmd {width:150px}
.cls_aspnet_button_select_borderStyle {width:160px}
.cls_aspnet_button_div_bottomLayer {width:521px;height:38px;left:25px;top:55px}
.cls_aspnet_button_input_buttonWidth {width:30px}
.cls_aspnet_button_input_cmdArg {width:126px}
.cls_aspnet_button_input_fgColorField {width:60px}
.cls_aspnet_button_input_bdrColorField {width:60px}
.cls_aspnet_button_input_buttonHeight {width:30px}
.cls_aspnet_button_input_tabix {width:30px}
.cls_aspnet_button_input_akey {width:30px}
.cls_aspnet_button_input_bgColorField {width:60px}
.cls_aspnet_button_div_topLayer td {padding-bottom:4px}
.cls_aspnet_button_div_bottomLayer td {padding-bottom:4px}