
/* deprecated/Configuration/Inspectors/asp.net_checkboxlist.htm */
.cls_aspnet_checkboxlist_span_image {width:23px;height:17px;left: 5px;top: 9px}
.cls_aspnet_checkboxlist_div_idBoxLayer {width:65px;height:15px;left: 44px;top: 9px}
.cls_aspnet_checkboxlist_input_listID {width:65px}
.cls_aspnet_checkboxlist_div_topLayer {width:520px;height:38px;left:125px;top:2px}
.cls_aspnet_checkboxlist_input_toolTip {width:70px}
.cls_aspnet_checkboxlist_input_akey {width:35px}
.cls_aspnet_checkboxlist_input_widthField {width:35px}
.cls_aspnet_checkboxlist_select_textAlign {width:75px}
.cls_aspnet_checkboxlist_input_tabix {width:35px}
.cls_aspnet_checkboxlist_input_heightField {width:35px}
.cls_aspnet_checkboxlist_div_bottomLayer {width: 640px;height: 38px;left:3px;top:55px}
.cls_aspnet_checkboxlist_input_cellPad {width:35px}
.cls_aspnet_checkboxlist_select_repeatLayout {width:100px}
.cls_aspnet_checkboxlist_input_repeatCols {width:35px}
.cls_aspnet_checkboxlist_input_cellSpace {width:35px}
.cls_aspnet_checkboxlist_select_repeatDir {width:100px}
.cls_aspnet_checkboxlist_div_topLayer td {padding-bottom:4px}
.cls_aspnet_checkboxlist_div_bottomLayer td {padding-bottom:4px}
.cls_aspnet_checkboxlist_topLayer_Text_td {white-space:nowrap;padding-right:0px}
.cls_aspnet_checkboxlist_topLayer_Tab_td {white-space:nowrap;padding-right:0px}
.cls_aspnet_checkboxlist_bottomLayer_Repeat_td {white-space:nowrap;padding-right:0px}
.cls_aspnet_checkboxlist_bottomLayer_Repeat1_td {white-space:nowrap;padding-right:0px}
.cls_aspnet_checkboxlist_bottomLayer_Repeat2_td {white-space:nowrap;padding-right:0px}
