
/* Chinese (Simplified)/Configuration/Inspectors/asp_recordset2.htm */
.cls_asp_recordset2_span_image {width:23px;height:17px;left: 0px;top: 2px}
.cls_asp_recordset2_div_RecordsetNameLayer {width:80px;height:15px;left: 40px;top: 5px}
.cls_asp_recordset2_input_RecordsetName {width:65px}
.cls_asp_recordset2_div_SQLEdit {width:255px;height:38px;left: 203px;top:-3px}
.cls_asp_recordset2_textarea_SQL {width:250px;height:34px;left:0px;top:-7px}
.cls_asp_recordset2_div_LockTypeSelection {width:82px;height:22px;left: 56px;top:-1px}
.cls_asp_recordset2_select_LockType {width:80px}
.cls_asp_recordset2_div_Layer1 {width:378px;height:55px;left:125px;top:2px}
.cls_asp_recordset2_input_ConnectionList {width:245px}
.cls_asp_recordset2_input_SQL {width:245px}
.cls_asp_recordset2_div_Layer2 {height:40px;left:125px;top:50px}
.cls_asp_recordset2_select_CursorType {width:90px}
.cls_asp_recordset2_select_LockType_1 {width:90px}
.cls_asp_recordset2_select_CursorLocation {width:90px}
