
/* Chinese (Simplified)/Configuration/Inspectors/asp_recordset.htm */
.cls_asp_recordset_span_image {width:23px;height:17px;left: 0px;top: 2px}
.cls_asp_recordset_div_RecordsetNameLayer {width:80px;height:15px;left: 40px;top: 5px}
.cls_asp_recordset_input_RecordsetName {width:65px}
.cls_asp_recordset_div_SQLEdit {width:255px;height:38px;left: 203px;top:-3px}
.cls_asp_recordset_textarea_SQL {width:250px;height:34px;left:0px;top:-7px}
.cls_asp_recordset_div_LockTypeSelection {width:82px;height:22px;left: 56px;top:-1px}
.cls_asp_recordset_select_LockType {width:80px}
.cls_asp_recordset_div_Layer1 {width:378px;height:55px;left:125px;top:2px}
.cls_asp_recordset_input_ConnectionList {width:245px}
.cls_asp_recordset_input_SQL {width:245px}
.cls_asp_recordset_div_Layer2 {height:40px;left:125px;top:50px}
.cls_asp_recordset_select_CursorType {width:90px}
.cls_asp_recordset_select_LockType_1 {width:90px}
.cls_asp_recordset_select_CursorLocation {width:90px}
.cls_asp_recordset_div_RecordsetNameLayer_1 {width:170px;height:15px;left: 2px;top: -3px}
.cls_asp_recordset_input_RecordsetName_1 {width:110px}
.cls_asp_recordset_div_ConnectionNameLayer {width:170px;height:15px;left: 2px;top: 14px}
.cls_asp_recordset_select_ConnectionList {width:90px}
.cls_asp_recordset_input_ConnectionButton {width:15px;height:15px}
.cls_asp_recordset_div_SQLLayer {width:20px;height:18px;left:180px;top:3px}
.cls_asp_recordset_input_SQLButton {width:15px;height:15px}
.cls_asp_recordset_div_SQLEdit_1 {width:255px;height:38px;left: 203px;top:-3px}
.cls_asp_recordset_textarea_SQL_1 {width:250px;height:34px;left:0px;top:-7px}
.cls_asp_recordset_div_CursorTypelabel {width:60px;height:18px;left: 3px;top: 48px}
.cls_asp_recordset_div_CursorTypeSelection {width:82px;height:22px;left: 56px;top:-1px}
.cls_asp_recordset_select_CursorType_1 {width:80px}
.cls_asp_recordset_div_CursorLocationlabel {width:77px;height:18px;left:154px;top: 48px}
.cls_asp_recordset_div_CursorLocationSelection {width:82px;height:22px;left:68px;top:-1px}
.cls_asp_recordset_select_CursorLocation_1 {width:80px}
.cls_asp_recordset_div_LockTypelabel {width:55px;height:18px;left: 320px;top: 48px}
.cls_asp_recordset_div_LockTypeSelection_1 {width:82px;height:22px;left: 56px;top:-1px}
.cls_asp_recordset_select_LockType_2 {width:80px}
