
/* Chinese (Simplified)/Configuration/Inspectors/aspnet_datalist.htm */
.cls_aspnet_datalist_span_image {width:23px;height:17px;left: 0px;top: 0px}
.cls_aspnet_datalist_div_DataGridNameLayer {width:65px;height:15px;left: 40px;top: -2px}
.cls_aspnet_datalist_input_DataListName {width:65px}
.cls_aspnet_datalist_div_mainLayer {width:150px;height:35px;left: 120px;top:0px}
