
/* deprecated/Configuration/Inspectors/aspnet_datagrid.htm */
.cls_aspnet_datagrid_span_image {width:23px;height:17px;left: 0px;top: 2px}
.cls_aspnet_datagrid_div_DataGridNameLayer {width:65px;height:15px;left: 40px;top: 0px}
.cls_aspnet_datagrid_input_DataGridName {width:65px}
.cls_aspnet_datagrid_div_mainLayer {width:150px;height:35px;left: 120px;top:2px}
.cls_aspnet_datagrid_input_CellPadding {width:20px}
.cls_aspnet_datagrid_input_CellSpacing {width:20px}
