
/* Chinese (Simplified)/Configuration/Inspectors/base.htm */
.cls_base_layer1 {position:absolute; left:120px; top:0px; width:436px; height:65px; z-index:1}
.cls_base_lable {position:absolute; width:40px; height:17px; z-index:16; left: 46px; top: 4px}