
/* Chinese (Simplified)/Configuration/Inspectors/cf_form.htm */
.cls_cf_form_input_theAction {width:160px}
.cls_cf_form_select_theTarget {width:150px}
.cls_cf_form_select_theMethod {width:100px}
.cls_cf_form_select_theEnctype {width:150px}
.cls_cf_form_select_theFromat {width:72px}
.cls_cf_form_select_theSkin {width:100px}
.cls_cf_form_input_theScriptSrc {width:70px}
.cls_cf_form_input_theHeight2 {width:30px}
.cls_cf_form_input_theStyle {width:70px}
.cls_cf_form_select_thePreserveData {width:60px}
.cls_cf_form_input_theArchive {width:70px}
.cls_cf_form_input_theWidth2 {width:30px}
#bottomLayer{position: absolute;left: 5px;top: 46px;z-index: 22;width: 595px;height: 24px;margin-top: 3px;}