
/* Chinese (Simplified)/Configuration/Inspectors/cf_input.htm */
.cls_cf_input_input_text {width:100px}
.cls_cf_input_input_theMask {width:100px}
.cls_cf_input_select_select {width:104px}
.cls_cf_input_input_maxLength {width:30px}
.cls_cf_input_input_theBSRValue {width:100px}
.cls_cf_input_input_CR_theValue {width:80px}
.cls_cf_input_input_F_maxLength {width:30px}
.cls_cf_input_input_H_theValue {width:180px}
.cls_cf_input_input_I_theSrc {width:180px}
.cls_cf_input_select_I_theAlign {width:100px}
.cls_cf_input_input_I_theEditImage {width:80px;height:20px}
.cls_cf_input_input_I_theAlt {width:100px}
.cls_cf_input_input_I_theBorder {width:30px}
.cls_cf_input_input_DFDC_theValue {width:180px}
.cls_cf_input_select_validateMenu {width:100px}
.cls_cf_input_input_theLabel {width:100px}
.cls_cf_input_input_theHeight {width:30px}
.cls_cf_input_input_theSize {width:30px}
.cls_cf_input_select_theValidateAt {width:100px}
.cls_cf_input_input_thePattern {width:100px}
.cls_cf_input_input_theWidth {width:30px}
.cls_cf_input_topLayer_TextPassword {position:absolute;visibility:visible;left:119px;top:3px;width:470px;height:24px;z-index:30}
.cls_cf_input_topLayer_CheckboxRadio {position:absolute;visibility:visible;left:119px;top:3px;width:350px;height:24px;z-index:30}
.cls_cf_input_topLayer_File {position:absolute;visibility:visible;left:119px;top:3px;width:150px;height:24px;z-index:30}
.cls_cf_input_topLayer_Image {position:absolute;visibility: visible;left:140px;top:3px;width:480px;height:24px;z-index: 30}
.cls_cf_input_topLayer_ButtonSubmitReset {position:absolute;visibility: visible;left:140px;top:3px;width:480px;height:24px;z-index: 30}
.cls_cf_input_topLayer_Hidden {position:absolute;visibility: visible;left:140px;top:3px;width:480px;height:24px;z-index: 30}
.cls_cf_input_topLayer_DatefieldDatechooser {position:absolute;visibility: visible;left:140px;top:3px;width:480px;height:24px;z-index: 30}
#bottomLayer{position: absolute;left: 5px;top: 46px;z-index: 22;width: 595px;height: 24px;margin-top: 3px;}