
/* Chinese (Simplified)/Configuration/Inspectors/cf_textarea.htm */
#topLayer.cls_cf_textarea_div_topLayer {position:absolute; visibility:visible; left:140px; top:3px; width:220px; height:24px; z-index:30}
.cls_cf_textarea_input_theCharWidth {width:30px}
.cls_cf_textarea_select_theWrap {width:70px}
.cls_cf_textarea_input_theNumLines {width:30px}
#bottomLayer.cls_cf_textarea_div_bottomLayer {width:320px; top:40px}
.cls_cf_textarea_select_validateMenu {width:80px}
.cls_cf_textarea_input_theLabel {width:80px}
.cls_cf_textarea_input_theHeight {width:30px}
.cls_cf_textarea_select_theValidateAt {width:80px}
.cls_cf_textarea_input_theStyle {width:80px}
.cls_cf_textarea_input_theWidth {width:30px}
.cls_cf_textarea_div_initialValue {width:150px;height:75px;left:360px}
.cls_cf_textarea_textarea_theValue {height:75px;width:auto}
.cls_cf_textarea_td1 {white-space:nowrap;padding-right:4px}