
/* Chinese (Simplified)/Configuration/TagLibraries/CFML/cfcalendar.htm */
.cls_cfcalendar_div_thegeneral {width:350px;height:115px;left: 0px;top: 55px}
.cls_cfcalendar_div_theevents {width:350px;height:115px;left: 0px;top: 55px}
