
/* Chinese (Simplified)/Configuration/TagLibraries/CFML/cfindex.htm */
.cls_cfindex_div_theupdate {width:350px;height:330px;left: 0px;top: 42px}
.cls_cfindex_div_therefresh {width:350px;height:330px;left: 0px;top: 42px}
.cls_cfindex_div_thedelete {width:200px;height:330px;left: 0px;top: 42px}
.cls_cfindex_div_thepurge {width:350px;height:330px;left: 0px;top: 42px}
