
/* Chinese (Simplified)/Configuration/Commands/CFLoginWizard.htm */
.cls_CFLoginWizard_input_domainname {width:250px}
.cls_CFLoginWizard_input_ldapserver {width:150px}
.cls_CFLoginWizard_input_ldapport {width:150px}
.cls_CFLoginWizard_input_ldapstart {width:150px}
.cls_CFLoginWizard_input_ldapusername {width:150px}
.cls_CFLoginWizard_input_ldappassword {width:150px}
.cls_CFLoginWizard_input_querystring {width:300px}
.cls_CFLoginWizard_input_simpleusername {width:300px}
.cls_CFLoginWizard_input_simplepassword {width:300px}
.cls_CFLoginWizard_table td {padding:1px}
.cls_CFLoginWizard_table_1 td {padding:1px}
.mainWizardPanel {
	position:absolute;
	height:350px;
	z-index:2;
	left: 10px;
	top: 8px;
	visibility: hidden;
}
.mainWizardPanel, .mainWizardButtons {
	width:650px;
}
.leftWizardButtons, .rightWizardButtons {
	bottom: 5px;
	display: inline;
	position:absolute;
}
.leftWizardButtons {
	left: 5px;
}
.rightWizardButtons {
	right: 5px;
}
.navButtonCancel{
	margin-left: 20px;
}
.navButtonBack, .navButtonNext, .navButtonCancel, .navButtonHelp{
	width:72px;
}
