
/* Chinese (Simplified)/Configuration/Commands/Clean Up Word HTML.htm */
.CleanUpWordHTML_pageBg_div        { position:absolute; left:4px; top:31px; width:10px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_pageBg_div_detecting        { position:absolute; left:4px; top:31px; width:10px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_pageBg_div_wordVersion        { position:absolute; left:18px; top:31px; width:10px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_pageBg_div_detailWord97        { position:absolute; left:18px; top:70px; width:388px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_pageBg_div_detailWord2000        { position:absolute; left:18px; top:70px; width:388px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_pageBg_div_basic        { position:absolute; left:18px; top:70px; width:340px; height:253px; z-index:1; visibility:hidden; }
.CleanUpWordHTML_tabLayer_Tab0 { position:absolute; left:8px; top:10px; width:70px; height:20px; z-index:8; visibility:hidden ;}
.CleanUpWordHTML_tabLayer_Tab1 { position:absolute; left:78px; top:10px; width:70px; height:20px; z-index:8; visibility:hidden ;}
.CleanUpWordHTML_tabInnerLayer { position:absolute; width:75px; height:23px; z-index:8; left: 0px; top: 0px; visibility:inherit ;}
.CleanUpWordHTML_tabLabelLayer { position:absolute; width:69px; height:1px; z-index:8; left: 0px; top: 5px; visibility:inherit; text-align:center }
.CleanUpWordHTML_oneWordOptionList {width:150px}
.cls_CleanUpWordHTML_td {height:300px}
.cls_CleanUpWordHTML_td_1 {width:179px;white-space:normal}
.cls_CleanUpWordHTML_td_2 {width:200px}
.cls_CleanUpWordHTML_table {width:370px}
.cls_CleanUpWordHTML_image {width:375px;height:350px}
.CleanUpWordHTML_tabLayer_img_Tab0 {width:70px;height:22px}
.CleanUpWordHTML_tabLayer_img_Tab1 {width:70px;height:22px}
.CleanUpWordHTML_tabInnerLayer_img_Tab0 {width:69px;height:24px}
.CleanUpWordHTML_tabInnerLayer_img_Tab1 {width:69px;height:24px}