
/* Chinese (Simplified)/Configuration/Commands/Create Component.htm */
#info { color: blue; }
.section { position:absolute; width:435px; height:400px; left:105px; top:20px; visibility:hidden; }
.required { font-weight: bold; }
.selectbox_section { width: 90px; }
/* .label { text-align: right; white-space:nowrap; } */
.label { text-align: right; }
.cls_CreateComponent_table {width:510px}
.cls_CreateComponent_td {width:70px}
.cls_CreateComponent_td_1 {width:445px}
.cls_CreateComponent_td_2 {width:70px}
.cls_CreateComponent_basicTextField {width:200px}
.cls_CreateComponent_image_btn_compParentRefresh {width:16px;height:16px}
.cls_CreateComponent_table_2 {width:435px}
.cls_CreateComponent_table_3 {width:435px}
.cls_CreateComponent_table_4 {width:435px}
.cls_CreateComponent_table_5 {width:435px}