
/* Chinese (Simplified)/Configuration/Inspectors/date.htm */
.cls_date_span_image {width:23px;height:17px;left: 3px;top: 2px}
.cls_date_span_label {width:224px;height:62px;left: 42px;top: 4px}
.cls_date_div_Layer1 {width:352px;height:30px;left: 149px;top: 10px}
