
/* Chinese (Simplified)/Configuration/Behaviors/Actions/Drag Layer.htm */
.DragLayer_pageBg_div        { position:absolute; left:1px; top:21px; width:485px; height:10px; z-index:1; visibility:hidden; }
.DragLayer_pageBg_div_mainLayer        { position:absolute; left:6px; top:21px; width:10px; height:10px; z-index:1; visibility:hidden; }
.DragLayer_pageBg_div_optionsLayer        { position:absolute; left:6px; top:21px; width:10px; height:10px; z-index:1; visibility:hidden; }
.DragLayer_tabLayer_Tab0 { position:absolute; left:8px; top:0px; width:70px; height:20px; z-index:8; visibility:hidden ;}
.DragLayer_tabLayer_Tab1 { position:absolute; left:78px; top:0px; width:70px; height:20px; z-index:8; visibility:hidden ;}
.DragLayer_tabInnerLayer { position:absolute; width:75px; height:23px; z-index:8; left: 0px; top: 0px; visibility:inherit ;}
.DragLayer_tabLabelLayer { position:absolute; width:69px; height:1px; z-index:8; left: 0px; top: 5px; visibility:inherit; text-align:center }
.cls_DragLayer_select_layerMenu {width:348px}
.cls_DragLayer_input_dragJavascript {width:170px}
.cls_DragLayer_input_dropJavascript {width:170px}
.cls_DragLayer_tabBgWin {width:483px; height:160px}
.DragLayer_tabLayer_img_Tab0 { width:70px; height:21px }
.DragLayer_tabInnerLayer_img_Tab0 { width:69px; height:22px }
.DragLayer_tabLayer_img_Tab1 { width:70px; height:21px }
.DragLayer_tabInnerLayer_img_Tab1 { width:69px; height:22px }