/** IMPORTANT! **

   This file contains the styles for the contents of the browsercontrol in the Externalize JavaScript command
   dialog. No styles for the dialog itself should be added to this file, nor should this file be linked from
   the ExternalizeJavaScript.html file.

 ** IMPORTANT! **/

body {
	background-color: #FFF;
	font-family: Tahoma, "Lucida Grande", sans-serif;
}

#summaryTable { border-collapse: collapse; border: 0; width: 100%;}
#summaryTable th, 
#summaryTable td { font-size: .7em; white-space: nowrap; text-align: left; padding: 4px 20px 4px 0; border: 0; line-height: 22px;}
#summaryTable td.checkCell { padding: 1px; width:5px;}
#summaryTable .header th { border-bottom: 1px solid black;}
#summaryTable .altRow {background-color: #DDD;}

#summaryTable .forbidden {
	color: #999999;
	font-style: italic;
}

#summaryTable .forbidden td.checkCell {
	background-image: url(dw://Configuration/Shared/MM/Images/stop.gif);
	background-position: center;
	background-repeat: no-repeat;
}

p {padding: 4px 8px; color: #000;}