
/* Chinese (Simplified)/Configuration/Commands/FlashVideo.htm */
.cls_FlashVideo_div_FLVLoaderDiv {width:1px;height:1px;left: -5px;top: 0px}
.cls_FlashVideo_select_theselector {WIDTH: 307px}
.cls_FlashVideo_div_theprogDownloadVideo {width:400px;height:285px;left:5px;top:60px}
.cls_FlashVideo_input_theprogDownloadVideourl {WIDTH: 240px;HEIGHT:19px}
.cls_FlashVideo_select_theprogDownloadVideoskinName {WIDTH: 307px}
.cls_FlashVideo_input_theprogDownloadVideowidth {WIDTH: 50px;HEIGHT:19px}
.cls_FlashVideo_input_theprogDownloadVideoheight {WIDTH: 50px;HEIGHT:19px}
.cls_FlashVideo_div_thestreamingVideo {width:400px;height:355px;left:5px;top:60px}
.cls_FlashVideo_input_thestreamingVideoserverURI {WIDTH: 307px;HEIGHT:19px}
.cls_FlashVideo_input_thestreamingVideostreamName {WIDTH: 307px;HEIGHT:19px}
.cls_FlashVideo_select_thestreamingVideoskinName {WIDTH: 307px}
.cls_FlashVideo_input_thestreamingVideowidth {WIDTH: 50px;HEIGHT:19px}
.cls_FlashVideo_input_thestreamingVideoheight {WIDTH: 50px;HEIGHT:19px}
.cls_FlashVideo_input_thestreamingVideotf_bufferTime {WIDTH: 50px;HEIGHT:19px}
.cls_FlashVideo_div_theflaVideoStreamServiceLite {width:394px;height:285px;left:5px;top:60px}
.cls_FlashVideo_div_information {width:400px;height:20px;left:5px;top:430px}
.FlashVideo_largeTField {width:250px;height:50px}
.FlashVideo_largeTField_1 {width:250px;height:50px}
.cls_FlashVideo_td {width:18%;white-space:nowrap}
.cls_FlashVideo_td_1 {width:18%;white-space:normal}
.cls_FlashVideo_td_2 {width:auto;white-space:normal}
.cls_FlashVideo_td_3 {width:auto;white-space:nowrap}
.cls_FlashVideo_td_4 {width:15%;white-space:nowrap}
.cls_FlashVideo_td_5 {width:25%;white-space:nowrap}
.cls_FlashVideo_td_6 {width:auto;height:auto;white-space:normal}
