
/* Chinese (Simplified)/Configuration/Inspectors/spry_ValidationConfirm.htm */
#idEditBox.cls_spry_ValidationConfirm_div_idEditBox {
  width: 80px;
}

#message.cls_spry_ValidationConfirm_div_message {
  position:absolute;
  left:50%;
  width:50%;
  padding-left:1.5em;
}

#topLayer table {
  width: 500px;
}

#mainProps.cls_spry_ValidationConfirm_div_mainProps {
  position:absolute;
  visibility:visible;
  left:15px;
  top:-2px;
  width:30%;
}

#bottomContainer {
  position:absolute;
  visibility:visible;
  left:15px;
  top:46px;
  width:500px;
}

/* Top table */
#displayErrorState {
  width: 160px;
}

.fullWidthCol {
  width: 100%;
}

#validateAgainst {
  width: 160px;
}

.bottomContainerWarningLayer {
  left:110px;
	display:none;
	padding-left:3em;
	top:46px;
}

.bottomContainerWarningTable {
  width: 480px;
}
