/* Chinese (Simplified)/Configuration/Inspectors/spry_Tooltip.htm */

#idEditBox{
  width: 80px;
}

#message.cls_spry_Tooltip_div_message {
  position: absolute;
  left: 50%;
  width: 50%;
  padding-left: 1.5em;
}

#mainProps.cls_spry_Tooltip_div_mainProps {
  position: absolute;
  visibility: visible;
  left: 15px;
  top: -2px;
  width: 550px;
}

#bottomContainer {
  position: absolute;
  visibility: visible;
  left: 15px;
  top: 46px;
  width: 550px;
}

.textfield {
  width: 36px;
}

.textfieldContainer {
  text-align: left;
  width: 42px;
}

.selectContainer {
  text-align: left;
  width: 160px;
  padding-left: 10px;
}

.selectContainer select{
	width: 100%;
}

.label{
  text-align: right;	
  padding-right: 2px;
}

.triggerText{              
	width: 70px;	
	text-align: right;
}

.bottomContainerWarningLayer {
  left:125px;
	display:none;
	padding-left:3em;
}

.bottomContainerWarningTable
{
  width: 480px;
}
